table{
    border-radius: 5px;
    width: 100%;
}

table, td{
    border: 2px solid #AAAF23;
}

tr{
    height: 3em;
}

.nome{
    width: 70%;
}

.preco{
    text-align: left;
    padding-left: 1em;
}

.impar{
    background-color: #b6b86d;
}

.par{
    background-color: #d9db9a;
}

#cabecalho{
    background-color: #AAAF23;
    color: #fff;
}